*{
   box-sizing: border-box;
}

:root{
   --primary-color:#22254b;
   --secondary-color: #373b69;
}
body {
   font-family: 'Scheherazade New',serif;
   /*color: ;*/
}
.container {
   padding: 0 40px;
   margin: 0 auto;
}
.header {
   /*background: #22254b;*/
   background: url(img/header-bg.jpg) center top  no-repeat;
   background-size: 100% 100%;
   padding: 20px 0;
}
.header-wrapper {
   display: flex;
   justify-content: space-around;
}
/*.header-navigation {

}
.header-navigation__wrapper {

}
.header-item {
   
}*/
.genres {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   margin: 0 -16px;
}
.genre {
   flex: 0 1 auto;
   background: #8b6510;
   color: #fff;
   padding: 0.5em;
   margin: 10px 8px 0 8px;
   border-radius: 5px;
   cursor: pointer;
   transition: all ease 0.5s;
}
.genre:hover {
   background: #faab00;
}
.genre--active {
   background: #faab00;
}
.pagination {
   display: flex;
   margin: 10px 30px;
   align-items: center;
   justify-content: center;
   color: white;
}
.page {
   padding: 10px;
   cursor: pointer;
   color: black;
}
.page.disable {
   cursor: not-allowed;
   color: gray;
}
.page--current {
   padding: 10px 20px;
   border-radius: 50%;
   border: 5px solid orange;
   font-size: 20px;
   font-weight: 600;
}

.movie-fluid {
   display: flex;
   justify-content: space-around;
   margin: 0 -15px;
   flex-wrap: wrap;
}
.movie {
   position: relative;
   flex: 0 1 300px;
   margin: 30px 15px 0;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   cursor: pointer
}
.movie img {
   width: 100%;
}
.movie__info {
   position: relative;
   display: flex;
   color: #fff;
   align-items: center;
   justify-content: space-between;
   padding: 0.5rem 1rem 1rem;
   background: rgb(32, 102, 207);
}
.movie__rating {
   position: absolute;
   content: '';
   top: 5px;
   right: 15px;
   z-index: 2;
   color: lightgreen;
   background: #373b69;
   padding: 0.25rem 0.5rem;
   font-weight: bold;
}
.movie__overview {
   position: absolute;
   right: 0;
   left: 0;
   bottom: 0;
   transition: 1s ease;
   background-color: #373b69;
   max-height: 100%;
   transform: translateY(101%);
   z-index: 2;
   padding: 1rem;
}
.movie:hover .movie__overview {
   transform: translateY(0)
}